.movies__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 19%;
  max-height: 440px;
  padding: 5px;
	margin: 0 0 20px;
  overflow-x: hidden;

  color: #c9ceda;

  cursor: pointer;
}

.movies__itemPoster {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 345px;
  margin-bottom: 10px;
  overflow: hidden;

  border: 2px solid transparent;

  transition: border 0.3s linear;

  &:hover {
    border: 2px solid white;
  }
}

.movies__itemNoPoster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 345px;
  margin-bottom: 10px;
  overflow: hidden;

  text-transform: uppercase;

  background-color: black;
}

.movies__itemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.movies__itemName {
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
}

.movies__itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies__itemYear {
  font-size: 12px;
}

.movies__itemIcons {
  display: flex;
  align-items: center;

  & .icon {
    margin: 0 2px;

    cursor: pointer;

    transition: fill 0.2s linear;

    fill: white;

    &:hover {
      fill: lighten(black, 40%);
    }
  }
}
