.movies {
  width: 100%;
  height: 100%;
  padding: 15px 30px 30px;
  overflow-y: scroll;

  background: #182130;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.movies__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.movies__error {
  width: 100%;
  height: 100%;
}
