.profile {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 5px;
	z-index: 5;

	background-color: #0f1829;
}

.profile__btn {
	padding: 6px 25px 5px;
	background: transparent;
	color: white;
	border: 2px solid white;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;

	transition: background 0.3s linear, color 0.3s linear;

	&:hover {
		background: white;
		color: black;
	}
}

.profile__avatar {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
