.movieApp {
  position: relative;

  display: grid;
  width: 100vw;
  height: 100vh;

  font-family: "Roboto", sans-serif;

  grid-template-areas: "search search profile"
  "filters bar bar"
  "filters movies movies";
  grid-template-columns: 15% 1fr 10%;
  grid-template-rows: 60px 110px 1fr;
}

.movieApp__search {
  grid-area: search;
}

.movieApp__profile {
  grid-area: profile;
}

.movieApp__filters {
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
     -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

  grid-area: filters;
}

.movieApp__moviesBar {
  grid-area: bar;
}

.movieApp__movies {
  overflow: hidden;

  grid-area: movies;
}

.movieApp__authorizationForm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.movieApp__movieDetailInfo {
  width: 100%;
  height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

  background: rgba(0, 0, 0, 0.5);
}

.detailInfo {
  position: absolute;
  top: 30%;
  right: 27%;
  bottom: 30%;
  left: 27%;
  z-index: 15;
}

.movieDetailInfo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}

.detailInfo {
  position: absolute;
  top: 30%;
  right: 27%;
  bottom: 30%;
  left: 27%;
  z-index: 15;
}
