.authorizationForm__title {
  margin: 15px 0;

  font-weight: 700;
  text-align: center;
}

.authorizationForm__btn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.authorizationForm__btnIcon {
  margin-top: 3px;
  margin-right: 10px;
}
